# deny most common except .php
<FilesMatch "\.(inc|tpl|h|ihtml|sql|ini|conf|class|bin|spd|theme|module)$">
deny from all
</FilesMatch>
                           
<IFModule mod_rewrite.c>   
	RewriteEngine On 
	RewriteBase / 	
	RewriteRule ^index.html soushiant.co/index.php [L]
	RewriteRule ^search.html soushiant.co/index.php?item=search&act=do [L]
	RewriteRule ^about-us.html soushiant.co/index.php?item=about [L]
	RewriteRule ^services.html soushiant.co/index.php?item=services [L]
	RewriteRule ^adsl.html soushiant.co/index.php?item=adsl [L]
	RewriteRule ^gallery.html soushiant.co/index.php?item=gallery [L]
	RewriteRule ^articles.html soushiant.co/index.php?item=articles [L]
	RewriteRule ^contact.html soushiant.co/index.php?item=contact [L]
	RewriteRule ^news.html soushiant.co/index.php?item=news&act=do [L]	
	RewriteRule ^news-fullpage([0-9]+).html soushiant.co/index.php?item=fullnews&act=do&wid=$1 [L]
	RewriteRule ^works.html soushiant.co/index.php?item=works&act=do [L]
	RewriteRule ^adsl.html soushiant.co/index.php?item=adsl&act=do [L]
	RewriteRule ^services.html soushiant.co/index.php?item=services&act=do [L]
	RewriteRule ^service-fullpage([0-9]+).html soushiant.co/index.php?item=fullservice&act=do&wid=$1 [L]
	RewriteRule ^work-fullpage([0-9]+).html soushiant.co/index.php?item=fullworks&act=do&wid=$1 [L]
	RewriteRule ^article-fullpage([0-9]+).html soushiant.co/index.php?item=fullarticles&act=do&wid=$1 [L]	
    RewriteRule ^news-page([0-9]+).html soushiant.co/index.php?item=news&act=do&pid=$1 [L]	
	RewriteRule ^sitemap.xml sitemap.php [NC]	#sitemap.xml
	

#Skip WWW	
	#RewriteCond %{HTTP_HOST} ^www.soushiant.co.co [NC] 
	#RewriteRule ^(.*)$ http://soushiant.co.co/$1 [L,R=301]
#Add WWW		
	RewriteCond %{HTTP_HOST} ^soushiant.co.co$ [NC]
	RewriteRule ^(.*)$ http://www.soushiant.co.co/$1 [L,R=301]	
	
# proc/self/environ? no way!
	RewriteCond %{QUERY_STRING} proc/self/environ [OR]

	# Block out any script trying to set a mosConfig value through the URL
	RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]

	# Block out any script trying to base64_encode crap to send via URL
	RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]

	# Block out any script that includes a <script> tag in URL
	RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]

	# Block out any script trying to set a PHP GLOBALS variable via URL
	RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR]

	# Block out any script trying to modify a _REQUEST variable via URL
	RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2})

	# Send all blocked request to homepage with 403 Forbidden error!
	RewriteRule ^(.*)$ index.php [F,L]	

</IFModule>
# Enable / Disable directory Listing/Browsing
Options -Indexes
IndexOptions -FancyIndexing
ServerSignature Off

#RewriteCond %{HTTP_HOST} ^soushiant.co.co$
#RewriteRule ^/?$ "http\:\/\/www\.soushiant.co\.co\/" [R=301,L]
